@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body{
    display: flex;
    flex-direction: right: ;
    justify-content: center;
    align-content: center;
    background-image: url('./blur-bg.jpg');
    margin: 0 auto;
    padding: 50px;
    
}


#calculadora{
    height: 450px;
    width: 500px;
    background-color:#c4ecf5;
    text-align: center;
    border-radius: 15px;
    padding:20px;
    
}

#calculadora img{
    width:90px;
    padding-top:20px;
}

#calculadora h1{
    font-family: 'Kanit', sans-serif;
    color:#3c8fe8;
    font-size: 28px;
}

#calculadora p{
    font-family: Arial, sans-serif;
    color:#777;
    font-size: 13px;
}

#nome, #altura {
    background: transparent;
    outline: none;
    padding:10px;
    margin-bottom: 10px;
    border: 0.1pt solid #7f8285;
    border-width: 0px 0px 2px 0px;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#btnLimpar, #btnCalcular {
    background: #4596ed;
	border:0px;
    border-radius: 20px;
    padding:10px;
	color:white;
	cursor:pointer;
}

#btnLimpar:hover, #btnCalcular:hover {
    background-color: #64a6ed;
}

#output{
    padding:10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:#333;
}
